body {

    background-attachment: fixed;
    background-size: 100%;
    background-color: #A59484;
    color : #141319;
    text-align: center;
    font-family: "Courier New";
}

p1 {

    font-family: Courier;
    font-size: 250%;
}

.top {
    font-size: 400%;
}


#btnimg {

    width: auto;
    height: 40%;
}

#submit {

    width: auto;
    height: auto;

}

#panel {

    border-top: solid 2px #550707;
    background: #E6E7E1;
    height: 150%;
    display: none;
    font-size: 300%
}

#control {

    margin-top: 5%;
    margin-bottom: 5%;
    height: 30%;
    width: auto;

}

.centerElement {
    float: none !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.slide {

    margin: 3px;
    padding: 0;
    border-top: solid 2px #550707;

}

.btn-slide {
    margin: 0px auto;
}

.btn{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #A59484;
}

.btn-default{
    color: #A59484;
}

.btn-hover{
    color: #A59484;
    background-color: #E6E7E1;
}

.btn-slide {

    text-align: center;
    width: auto;
    height: auto;
    display: block;
    color: #A59484;
    text-decoration: #A59484;

}
