body {

    background-attachment: fixed;
    background-size: 100%;
    color : black;
    text-align: center;
    font-family: "Courier New";
}

p1 {
        
    font-family: Courier;
    font-size: 250%;
}

.top {
    font-size: 400%;
}


#btnimg {

    width: auto;
    height: 40%;
}

.input {
    width: 20%;
    height: 3%;
}


#submit {

    width: auto;
    height: 5%;

}

#panel {

    border-top: solid 2px #CC9966;
    background: white;
    height: 1000px;
    display: none;
    font-size: 300%
}

#control {

    margin-top: 5%;
    margin-bottom: 5%;
    height: 30%;
    width: auto;

}

.slide {

    margin: 0;
    padding: 0;
    border-top: solid 2px #CC9966;

}

.btn-slide {

    text-align: center;
    width: 100px;
    height: 50px;
    padding: 0px 100px 0 0;
    margin-bottom: 100px;
    display: block;
    color: #fff;
    text-decoration: none;

}
